# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CrackingTheCodingInterview/CrackingTheCodingInterview.VC.VC.opendb
/CrackingTheCodingInterview/CrackingTheCodingInterview.VC.db
/CrackingTheCodingInterview/1.1-UniqueChars/1.1-UniqueChars.vcxproj.filters
/CrackingTheCodingInterview/.vs/CrackingTheCodingInterview/v14/.suo
